<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <div class="container" style="margin-top: 50px;">
            <h2>Edit subscriber below.</h2>
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <% if (subscribers.length > 0) { %> 
                    <% for (let sub of subscribers) { %>
                        <tr>
                            <td><%= sub.name %></td>
                            <td><%= sub.email %></td>
                            <td>
                                <a href="">Delete</a>
                                |
                                <a href="">Update</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
        </div>
    </main>
</body>
</html>