<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <div class="container" style="margin-top: 50px;">
            <h1>Home Page!</h1>
            <p>[Display sensor data]</p>
            <p>[List of subscribers]</p>
        </div>
    </main>
</body>
</html>