body {
  background-color: rgb(96, 102, 110);
}

.navbar-custom {
  background-color: rgb(124, 181, 236);
  border: none;
}

.navbar-custom div.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.main-header .navbar .icon-bar {
  margin: 2.5px;
  background-color: rgb(56, 56, 56);
}

.row div {
  text-align: center;
}

.main-header .navbar .nav > li > a.active {
  color: white;
}

.main-header .navbar .nav > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: transparent !important;
}

.main-header .navbar .container-fluid a {
  color: rgb(56, 56, 56);
}

#chart-container {
  margin-top: 20px;
}

.sub-container {
  display: flex;
  justify-content: center;
}

.sub-container h3 {
  margin: 0em;
  text-decoration: underline;
}

.box {
  background-color: snow;
  border-radius: 1em;
  padding: 1em 2.5em; 
}

.box input {
  margin-bottom: 0em;
}

.box button {
  width: 100%;
  margin-bottom: 0.5em;
}

.edit-sub {
  min-width: 80%;
}

.add-sub {
  min-width: 50%;
}

table {
  margin: 1em 0em;
}

th {
  text-decoration: underline;
}