body {
  background-color: rgb(96, 102, 110);
}

.navbar-custom {
  background-color: rgb(124, 181, 236);
  border: none;
}

.navbar-custom div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.main-header .navbar .icon-bar {
  margin: 2.5px;
  background-color: rgb(56, 56, 56);
}

.row div {
  text-align: center;
}

.main-header .navbar .nav > li > a.active {
  color: white;
}

.main-header .navbar .nav > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: transparent !important;
}

.main-header .navbar .container-fluid a {
  color: rgb(56, 56, 56);
}

#chart-container {
  margin-top: 20px;
}